*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s ease;
}

.navi{
    background-color: #ffcccc;
}

.navi .container{
    color: black;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.logo{
    font-size: 1.5rem;
    color: rgb(156, 27, 87);
}

.menu{
    display: flex;
    }

li{
    list-style: none;
    margin-left: 30px;
}

li > a{
    font-size: 1.2rem;
    color: rgb(156, 27, 87);
    text-decoration: none;
    transition: 0.4s all ease;
}

li > a:hover{
    color: rgb(240, 59, 143);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.container{
    width: 95vw;
    margin: 0 auto;
}

/* HANGGANG DITO LANG NAVI */

.main-container{
    width: 0 auto;
    padding: 20px 5px;
    text-align: center; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-image: url("trialpic1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.intro-container{
    width: 95vw;
    border: 10px;
    margin: 0px 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.details{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: left;
    justify-content: space-evenly;
    display: inline-block;
}

.intro{
    border: 1px solid black;
    height: 400px;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name{
    font-size: 2.5rem;
    font-weight: 700;
}

.hello{
    font-size: 1.8rem;
    font-weight: 1;
}

.rounded-button{
    margin-top: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.1s;
}

.facebook{
    background-color: #e96fa6;
    color: white;
}

.instagram{
    background-color: #fad869;
    color: white;
}

.twitter{
    background-color: #63a9d9;
    color: white;
}

.youtube{
    background-color: #a47cc6;
    color: white;
}

.rounded-button:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.facebook:hover{
    box-shadow: 0 0 10px #e96fa6;
}

.instagram:hover{
    box-shadow: 0 0 10px #fad869;
}

.twitter:hover{
    box-shadow: 0 0 10px #63a9d9;
}

.youtube:hover{
    box-shadow: 0 0 10px #a47cc6;
}

#it1{
    color: black;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

#it2{
    grid-column: 2/3;
    grid-row: 1/2;
}

#it3{
    justify-content: start;
    color: black;
    grid-column: 3/4;
    grid-row: 1/2;
}

.welcome-msg{
    padding-left: 10px;
    text-align: justify;
}

.wc{
    line-height: 2.5rem;
}

.wc-msg{
    line-height: 1.5rem;
}

.proceed{
    display: flex;
}

.b111{
    padding: 10px 10px;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: center;
    background-color: #2a6d9900;
    align-items: right;
}

.b111:hover{
    transform: scale(1.15);
    transition: 0.5s;
    box-shadow: 0 0 8px grey;
}

a{
    text-decoration: none;
    color: #70bd70;
    font-weight: bold;
}

/* HANGGANG DITO LANG HOME PAGE */

body .about{
    width: 0 auto;
    margin: 0 auto;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 30px;
}

.about-container{
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 2rem;
    padding-bottom: 30px;
}

.header-abt{
    text-align: center;
}

#like-imgs{
    margin-top: 1rem;
    max-width: 45%;
}

.likes{
    width: 23%;
    border-radius: 1rem;
    text-align: center;
    vertical-align: top;
}

.title-like{
    line-height: 2rem;
}

.like-detail{
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.tech:hover{
    transition: 0.5s;
    box-shadow: 0 0 30px #e96fa6;
}

.music:hover{
    transition: 0.5s;
    box-shadow: 0 0 30px #fad869;
}

.cosme:hover{
    transition: 0.5s;
    box-shadow: 0 0 30px #63a9d9;
}

.fash:hover{
    transition: 0.5s;
    box-shadow: 0 0 30px #a47cc6;
}

/* HANGGANG DITO LANG ABOUT ME 1 */


.about-container-p2{
    max-width: 95vw;
    margin: 1rem auto;
    text-align: center; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.abt-p2{
    border-radius: 1rem;
    text-align: center;
    vertical-align: top;
    margin-bottom: 20px;
    border: 1px solid black;
    justify-content: center;
}

.namers{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2rem;
    padding-bottom: 20px;
}

.get-to{
    font-size: 1.8rem;
    font-weight: 1;
}

.infooo{
    text-align: justify;
    padding: 0 20px;
    line-height: 2rem;
}

.imageee{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

#cvdeets{
    color: black;
    font-style: italic;
    font-size: smaller;
}

.imageees{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.cv-buttons{
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 10px;
}

#like-imgs2{
    width: 70%;
}

.abtme-detail{
    line-height: 3rem;
    margin-bottom: 1rem;
}

.btn-dl {
    background-color: pink;
    border: none;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0px;
  }
  
  /* Darker background on mouse-over */
  .btn-dl:hover {
    background-color: gray;
  }

/* HANGGANG DITO LANG ABOUT ME 2 */

body .portfolio{
    max-width: 95vw;
    margin: 1rem auto;
    text-align: center; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.header-portfolio{
    text-align: center;
    padding-bottom: 10px;
}

.card{
    width: 30%;
    border-radius: 1rem;
    text-align: center;
    vertical-align: top;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 35px;
}

.news-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-img-1{
    background: url("Technical1.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-2{
    background: url("Technical2.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-3{
    background: url("Technical3.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-4{
    background: url("Technical4.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-5{
    background: url("Technical5.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-6{
    background: url("Technical6.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-7{
    background: url("Technical7.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-8{
    background: url("midtrm.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.news-img-9{
    background: url("fproj.gif");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
}

.card img{
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100px;
    margin: 1rem 0;
}

.title{
    padding: 0.2rem 2rem;
    text-shadow: 4px 4px 5px black;
    color: white;
}

.info{
    color: black;
    text-align: justify;
    margin: 0.5rem 0.2rem;
    line-height: 1.3;
    padding: 0 1.2rem;
    height: 4rem;
}

.news-buttons{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin: 0.5rem 0.2rem;
    color: white;
    flex-grow: 1;
    width: 100%;
}

/* button{
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin: 0.2 rem 0;
    color: white;
    transition: 0.5s ease;
    flex-grow: 1;
    width: 100%;
} */

.read{
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
 
.read:hover{
    background-color: grey;
}

.details{
    padding: 0.8rem 0;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card1{
    background-color: #fad869;
}

.card2{
    background-color: #63a9d9;
}

.card3{
    background-color: #e96fa6;
}

.card4{
    background-color: #b790da;
}

.card5{
    background-color: #81cf8e;
}

.card6{
    background-color: #e4b166;
}

.card7{
    background-color: #6dc6c9;
}

.card8{
    background-color: #f7848e;
}

.card9{
    background-color: #8183da;
}

.t1{
    color: #fffcd3;
}

.t2{
    color: rgb(226, 247, 255);
}

.t3{
    color: #fadae8;
}

.t4{
    color: #f4eafd;
}

.t5{
    color: #eaf7ed;
}

.t6{
    color: #fff1cb;
}

.t7{
    color: rgb(228, 253, 255);
}

.t8{
    color: #fdecec;
}

.t9{
    color: rgb(249, 246, 252);
}

.b1{
    background-color: #FFF786;
}

.b2{
    background-color: #a2c9e4;
}

.b3{
    background-color: #FDB9D6;
}

.b4{
    background-color: rgb(213, 182, 243);
}

.b5{
    background-color: #C7F1D2;
}

.b6{
    background-color: #FBDA80;
}

.b7{
    background-color: rgb(168, 226, 230);
}

.b8{
    background-color: #eeb5b5;
}

.b9{
    background-color: #b5b7e7;
}

.card1:hover{
    box-shadow: 0 0 25px #fad869;
}

.card2:hover{
    box-shadow: 0 0 25px #63a9d9;
}

.card3:hover{
    box-shadow: 0 0 25px #e96fa6;
}

.card4:hover{
    box-shadow: 0 0 25px #b790da;
}

.card5:hover{
    box-shadow: 0 0 25px #81cf8e;
}

.card6:hover{
    box-shadow: 0 0 25px #e4b166;
}

.card7:hover{
    box-shadow: 0 0 25px #6dc6c9;
}

.card8:hover{
    box-shadow: 0 0 25px #f7848e;
}

.card9:hover{
    box-shadow: 0 0 25px #8183da;
}
